.spinnerContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px auto;
}

.spinnerDiv {
    width: 32px;
    margin: 8px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    animation: rotate 2s linear infinite;
    transform-origin: center center;
}

@keyframes rotate {
    100% {
      transform: rotate(360deg);
    }
  }

.path {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
    animation: dash 1.5s ease-in-out infinite, colors 6s ease-in-out infinite;
    stroke-linecap: round;
}

@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
    100% { stroke: #4285F4; }
}
