.topicDetail {
    word-break: break-all;
}

.topicDetail img {
    width: 100%;
}

.topicDetail span {
    word-break: break-all;
}

.topicDetail code {
    word-break: break-all;
}

.topicDetailBody {
    padding: 10px 12px;
    border-bottom: 1px solid #eee;
    line-height: 1.4em;
}

.topicDetailBody>div :not(:last-child) {
    /* padding-bottom: 6px;  */
}

.topicDetailActionBar {
    display: flex;
    justify-content: center;
    padding: 0 40px;
    border-bottom: 1px solid #eee;
}

