.tabBar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 46px;
    background-color: white;
    display: flex;
    justify-content: space-around;
    z-index: 100;
    border-bottom: 1px solid #eee;
}

.tabBar a {
    color: inherit;
}


.tabBar span {
    font-size: 0.81rem;
}

.tabBar i {
    font-size: 1.31rem;
    margin-right: 8px;
}

.tabItemContainer {
    transition: 0.5s;
    height: 46px;
    min-width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
}

.tabBar .underline{
    border-radius: 30px;
    transition: 0.4s;
    width: calc(100%/3);
    display: inline-block;
    position: absolute;
    background: #009de0;
    height: 46px;
    bottom: 0;
    z-index: -1;
    transform: scale(0.8);
}

.tabItemContainer:nth-child(1).selected ~ .underline {
    left: 0;
}

.tabItemContainer:nth-child(2).selected ~ .underline {
    left: calc(100%/3);
}

.tabItemContainer:nth-child(3).selected ~ .underline {
    left: calc(100%*2/3);
}

.tabItemContainer.selected {
    color: white;
}

